Flask==2.3.3
Flask-CORS==4.0.0
easyocr==1.7.0
opencv-python-headless==4.8.1.78  # Version headless recommandée pour le serveur
rapidfuzz==3.5.2
numpy==1.26.4  # Version plus récente
Pillow==10.1.0
gunicorn==21.2.0
setuptools==68.2.2
wheel==0.42.0
